.tnb {
    display: flex;
    width: 1400px;
    justify-content: flex-end;
    padding-top: 10px;
    margin: 0 auto;
    font-size: 12px;
}

.tnb li:nth-child(2) {
    margin: 0 10px;
}
.tnb li:nth-child(3) {
    margin-right: 10px;
}

.tnb li a {
    text-decoration: none;
}

.logo {
    width: 1400px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.logo img {
    width: 110px;
    height: 65px;
}

.logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.logo a p {
    font-size: 1.7rem;
    color: #2A276C;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: -10px;
}

.header-menu {
    background-color: #192D70;
    height: 60px;
    position: relative;
}

#gnb {
    width: 1400px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    line-height: 60px;
}
#gnb > li {
    width: 100px;
    text-align: center;
}
#gnb > li > a:hover {
    color: gold;
}

#gnb > li > a{
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px  2px #000;
}

.lnb {
    display: none;
    background-color: #2D2A6F;
    opacity: 85%;
    position: absolute;
    z-index: 2;
}
.lnb li {
    width: 100px;
    text-align: center;
    position: relative;
}
.lnb li:hover {
    background-color: #08143d;
}
.lnb li a {
    text-decoration: none;
    color: #fff;
    text-shadow: 2px 2px  2px #000;
}






/*------------------- main banner -----------------*/
#visual {
    position: relative; 
}
.visual-carousel img {
    width: 100%;
    height: 670px;
}

/* ----------------메인 객실 예약 메뉴바------------- */

#reser {
    position: absolute;
    z-index: 100;
    top: 103%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.reser-menu { 
    display: flex;
    background-color: #62CDFB;
    width: 1200px;
    justify-content: space-evenly;
    height: 100px;
}
.reser-menu > li {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reser-menu > li a {
    display: flex;
    text-align: center;
    text-decoration: none;
}
.reser-menu > li a p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    font-size: 1rem;
    color: #192D70;
}

#reser-btn {
    box-sizing: border-box;
    border-radius: 100px;
    background-color: #192D70;
    width: 90px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
}

#reser-btn > p {
    color: white;
}

.reser-menu li:nth-child(1) {
    position: relative;
}

#room-wrap {
    position: absolute;
    background-color: gold;
    top: 100%;
    width: 1200px;
    height: 400px;
    left: -42.5%;
    display: none;
}
.room-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 160px;
    height: 350px;
    margin-top: 25px;
    margin-left: 40px;
    border-right: 1px solid #000;
}

.room-box > li {
    margin: 25px 0;
    display: flex;
    align-items: center;
}
.room-box > li > input {
    width: 20px;
    height: 20px
}
.room-box > li > label {
    padding-top: 3px;
    margin-left: 5px;
}

/*----------------- main section---------------- */

#main-room {
    margin-top: 150px;
}
#main-room > h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 2rem;
    font-weight: bold;
}
.section-wrap {
    background: url("../images/wrap.png");
    height: 700px;
}
.room-wrap{
    max-width:1400px;
    margin: 0 auto;
    display: flex;
}
.room-img { 
    background-color: #6C6A9A;
    width: 50%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.room-img img {
    width: 650px;
    height: 630px;
}

.room-content {
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.room-content li {
    display: flex;
    justify-content: flex-start;
    border-top: 1px solid #9b9999;
    border-bottom: 1px solid #9b9999;
    padding: 20px 0;
    width: 500px;
    margin-left: 120px;

}

.content-img img {
    width: 200px;
    height: 120px;
    padding-left: 40px;
}

.content-desc {
    margin-left: 10px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 22px;
}

.content-desc h3 {
    margin-bottom: 10px;
    font-weight: bold;
    
}
.content-desc p {
    font-size: 12px;
}
.content-desc button {
    margin-top: 10px;
    width: 50px;
    height: 20px;
    background-color: #192D70;
    color: white;
    border: 0;
    border-radius: 25px;
}

/*----------------- Tourist ----------------*/
#main-tour > h2 {
    text-align: center;
    font-size: 2rem;
    margin: 100px 0 70px 0;
    font-weight: bold;
    
}
#tour-wrap {
    position: relative;
    overflow: hidden;
    width: 1400px;
    height: 450px;
    margin: 0 auto;
}
.prev {
    position: absolute;
    z-index: 30;
    top: 45%;
    left: 1%;
}
.next {
    position: absolute;
    z-index: 30;
    left: 97%;
    top: 45%;
}

.item-wrap {
    width: 300%;
    height: 100%;
    display: flex;

}
.tour-item {
    width: 1400px;
    margin: 0 auto;
    height: 450px;
    position: relative;
}
.tour-item > img {
    width: 1400px;
    height: 450px;
    position: relative;
}

.tour-item-wrap {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    padding-top: 50px;
    
}

.tour-infor { 
    position: absolute;
    top: 10%;
    z-index: 20;
    width: 600px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 20px;
    padding-left: 40px;
    color: #fff;
    text-shadow: 2px 2px  2px #000;
}
.tour-infor > h3 {
    margin: 50px 0 30px 0;
    font-size: 1.5rem;
    font-weight: 600;
}
.tour-infor > p {
    font-size: 15px;
}


.tour-youtube {
    width: 550px;
    height: 350px;
    background-color: #BE4F4F;
    position: relative;
    overflow: hidden;
    position: absolute;
    top: 10%;
    left: 53%;
}

.tour-youtube iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 100%;
    padding-bottom: 56.25%;
    left: 0;
    top: 0;
}
.tour-img > a > img {
    width: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.tour-exper { 
    background-color: #345C8B;
    position: absolute;
    z-index: 5;
    width: 310px;
    height: 320px;
    top: 60%;
    left: 43%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tour-exper > h3 {
    margin: -50px 0 50px 0;
    font-size: 1.6rem;
}

.tour-exper > p {
    line-height: 25px;
    font-size: 17px;
}


.tour-text {
    margin-left: 54px;
}
/* -------------------event---------------------- */
#event > h2 {
    text-align: center;
    font-size: 2rem;
    margin: 100px 0 70px 0;
    font-weight: bold;
}
.event-wrap {
    width: 1400px;
    height: 500px;
    margin: 0 auto;
    position: relative;
}
.e-prev {
    position: absolute;
    top: 45%;
    left: 1%;

}
.e-next {
    position: absolute;
    left: 97%;
    top: 45%;
}
.event-banner-wrap {
    overflow: hidden;
    width: 1400px;
    height: 500px;
}
.event-banner {
    display: flex;
    width: 300%;
    height: 100%;
}
.event-banner > li > a > img {
    width: 1400px;
    height: 500px;
}





/* ------------------ footer ------------------- */

.footer {
    margin-top: 100px;
    background-color: #192D70;
    height: 180px;
}

.footer-menu {
    display: flex;
    justify-content: center;
    padding: 15px 0;
}


.footer-menu > li:nth-child(2) {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    margin: 0 20px;
    padding: 0 20px;
}

.footer-menu > li > a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.copyright {
    text-align: center;
    color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
    margin-top: -10px;
}
.copyright > p {
    margin: 10px 0;
}

.footer-logo {
    display: flex;
    justify-content: center;
}
.footer-logo > li > img {
    width: 150px;
}
.footer-infor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    margin-left: -25px;
}
.infor1 {
    font-size: 17px;
}
.infor2 {
    font-size: 12px;
    margin-left: 36px;
}



















































































































































/* ======================= 지훈 담당 페이지 =================== 
    호텔소개 : about.html (2.10)
    
    ※ 단순 확인용 header, footer의 스타일이 추가되어 있음
*/

/* 공통 요소 : 하이퍼링크 */
/*======================= header style ========================*/
a, a:link {
    text-decoration: none;
    color: inherit
}
/*======================= /header style ========================*/

/*======================= subpage-wrap style ========================*/
#main {
    margin: 20px 0;
}
.subpage-wrap {
    max-width: 1400px;
    margin: 0 auto;
}
.main-title {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    letter-spacing: 2px;
    line-height: 1.5;
}
.main-title h1 {
    font-size: 25px;
    padding-right: 20px;
    color: #2A276C;
    font-weight: bolder;
}
.main-title h2 {
    font-size: 17px;
    color: #2A276C;
}
.main-sub {
    background: url("../images/sub-img.png");
    background-repeat: no-repeat;
    background-position:right;
    background-size: 60% 100%;
    height: 450px;
    width: 960px;
    margin-left: 16%;
    margin-top: 15%;
}
.main-sub h3{
    background: #103353;
    display: inline-block;
    color: white;
    padding: 10px 25px;
    border-radius: 30px;
    margin-bottom: 5%;
    font-weight: bold;
    font-size: 20px;
}
.main-sub .greetings {
    width: 55%;
    margin: 2rem 0;
    background: #103353;
    color: white;
    padding: 35px;
    box-sizing: border-box;
    line-height: 2.5;
    margin-top: 10%;
}
.greetings p {
    margin: 2rem 0;
}
.greetings h4:first-letter {
    font-size: 2rem;
}
/*======================= /subpage-wrap style ========================*/

/*======================= subpage-wrap2 style ========================*/
.main-sub2 {
    margin-top: 20%;
}
.wrap-outer{
    background:#B5B8C1;
}
.history {
    display: flex;
    justify-content: center;
    padding: 25px 0;
}
/* .history > ul {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
} */
.text1 {
    margin-left: 19px;
}
.history img {
    margin-top: 10px;
}

.history li > ul > li {
    line-height: 1.5;
}
.history-text {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.history-text > ul > li > h4 {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}
/*======================= /subpage-wrap2 style ========================*/

.main-sub2 h3 {
    background: #103353;
    display: inline-block;
    color: white;
    padding: 10px 40px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 10px;
    margin-left: 25%;
    padding-right: 32px;
    margin-bottom: 7%;
}

.subpage-wrap2 {
    max-width: 1400px;
    margin-left: 13%;
    margin-top: 10%;
}
.subpage-wrap2 h3 {
    background: #103353;
    display: inline-block;
    color: white;
    padding: 12px 30px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 20px;
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
}
/*======================= subpage-wrap3 style ========================*/
.main-sub3 {
   align-items: center;
   display: flex;
   justify-content: center;
}
.Company-text p {
    margin: 2rem 0;
    margin-left: 65px;
    line-height: 2.5;
    font-weight: bold;
    font-size: 18px;
}
/*======================= /subpage-wrap2 style ========================*/


/*======================= room-page style ========================*/
.room-title {
    display: flex;
    margin-left: 5%;
    margin-top: 5%;
}

.room-title h1 {
    background: #103353;
    display: inline-block;
    color: white;
    padding: 10px 32px;
    border-radius: 30px;
    margin-bottom: 5%;
    font-weight: bold;
    font-size: 20px;
    margin-right: 10%;
    letter-spacing: 9px;
}

.room-title h2 {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 2px;
    /* margin-left: 2%; */
}

.room-slider img {
   margin-left: 15%;
   width: 1000px;
   height: 500px;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    justify-content: center;
    background: #BE4F4F;
}

.full-img {
    margin: 0 auto;
    font-size: 0;
}
.full-img img {
    width: 100%;
}

.container img {
    width: 280px;
    height: 190px;
    margin: 10px 10px;
}

.btns {    
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}
.btn1, .btn2 {
    background: #192D70;
    padding: 10px 15px;
    color: #fff;    
}









.breadcrumb {
    text-align: right;
    padding: 15px 0;
    border-bottom: 1px solid #333;
}

/*======================= footer style ========================*/
